/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */


/* 1. App.js (no aply) */


/* 2. Header.js */

/* .logo{
  font-size: 30px;
  font-weight: bold;
  margin-left: 50px;
}

nav, ul{
  margin: 5px;
  list-style: none; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 95px;
}

ul, li{
  margin: 10px;
  padding: 0 14px 0 14px;
  font-size: 17px;
}
ul, li:first-child{
  padding-left: 0px;
} */


/* 3. Product.js */

/* table{
  width: 50%;
} */

/* table,
tr,
td{
  margin: auto;
  border: 1px solid #000;
  border-collapse: collapse;  
}

thead{
  font-weight: bold; 
} */


/* 4. Footer.js / SocialLink.js */

/* .footer{
  margin-top: 10%;
}

.f1{
  display: flex;
  justify-content: space-evenly;
} */





/* 1. Home.js */

@media (max-width: 991px) {
  .about-text {
    margin-top: 40px;
  }
}
.about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 10px;
}
@media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
  }
}
.about-text h4 {
  font-weight: 600;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .about-text h4 {
    font-size: 18px;
  }
}
.about-text p {
  font-size: 18px;
}
.about-text p mark {
  font-weight: 600;
  color: #3a3973;
}
.about-text .btn-bar {
  padding-top: 8px;
}
.about-text .btn-bar a {
  min-width: 150px;
  text-align: center;
  margin-right: 10px;
}
.about-list {
  padding-top: 10px;
}
.about-list .media {
  padding: 5px 0;
}
.about-list label {
  color: #3a3973;
  font-weight: 600;
  width: 88px;
  margin: 0;
  position: relative;
}
.about-list label:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 11px;
  width: 1px;
  height: 12px;
  background: #3a3973;
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  margin: auto;
  opacity: 0.5;
}
.about-list p {
  margin: 0;
  font-size: 15px;
}
.about-img {
  box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.06);
  padding: 10px;
  background: #ffffff;
}
@media (max-width: 991px) {
  .about-img {
    margin-top: 30px;
  }
}
.counter-section {
  padding: 40px 20px;
}
.counter-section .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
}
.counter-section .count {
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 10px;
}
.counter-section p {
  font-weight: 500;
  margin: 0;
  color: #fe4f6c;
}
.theme-color {
    color: #fe4f6c;
}
.section {
    padding: 100px 0;
    position: relative;
}
.gray-bg {
    background-color: #ebf4fa;
}
.p-btn.theme {
    background: #fe4f6c;
    color: #ffffff;
    border: 2px solid #fe4f6c;
}
.p-btn {
    padding: 0 20px;
    line-height: 42px;
    border: 2px solid transparent;
    position: relative;
    display: inline-block;
    background: none;
    border: none;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
.p-btn.theme-t {
    background: transparent;
    border: 2px solid #fe4f6c;
    color: #fe4f6c;
}



/* 2. Profile.js */

.profile,
.badgescard,
.firstinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.profile {
    font-family: 'Open Sans', sans-serif;
    background: #00bcd4;
    font-size: 16px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.content {
    position: relative;
    animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
}
.card-1 {
    width: 600px;
    min-height: 50px;
    padding: 20px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}
.card-1:after {
    content: '';
    display: block;
    width: 190px;
    height: 300px;
    background: cadetblue;
    position: absolute;
    animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
}
.badgescard {
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #00bcd4;
    color:#fff;
    margin-left: 15px;
    width: 550px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: -1;
    left: 10px;
    bottom: 10px;
    animation: animainfos 0.5s cubic-bezier(0.425, 1.04, 0.47, 1.105) 0.75s forwards;
}
.badgescard span {
    font-size: 1.6em;
    margin: 0px 6px;
    opacity: 0.6;
}
.firstinfo {
    flex-direction: row;
    z-index: 2;
    position: relative;
}
.firstinfo img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}
.firstinfo .profileinfo {
    padding: 0px 20px;
}
.firstinfo .profileinfo h1 {
    font-size: 1.8em;
}
.firstinfo .profileinfo h3 {
    font-size: 1.2em;
    color: #00bcd4;
    font-style: italic;
}
.firstinfo .profileinfo p.bio {
    padding: 10px 0px;
    color: #5A5A5A;
    line-height: 1.4;
    
    font-style: initial;
}
@keyframes animatop {
    0% {
        opacity: 0;
        bottom: -500px;
    }
    100% {
        opacity: 1;
        bottom: 0px;
    }
}
@keyframes animainfos {
    0% {
        bottom: 10px;
    }
    100% {
        bottom: -42px;
    }
}
@keyframes rotatemagic {
    0% {
        opacity: 0;
        transform: rotate(0deg);
        top: -24px;
        left: -253px;
    }
    100% {
        transform: rotate(-30deg);
        top: -24px;
        left: -78px;
    }
}



/* 3. Information.js */

@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.service-22 {
  font-family:  sans-serif;
	color: #8d97ad;
}
.service-22 h1, .service-22 h2, .service-22 h3, .service-22 h4, .service-22 h5, .service-22 h6 {
  color: #344767;
}
.service-22 .img-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.3);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.3);
}
.service-22 .img-size{
  width: 500px;
  height: 402px;
  margin: 0 0 0 50px;
} 



/* 4. About.js */

.feature-box-1 {
  padding: 32px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  margin: 15px 0;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  top: 0;
}
.feature-box-1 * {
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}
.feature-box-1 .icon {
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: #fc5356;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 22px;
  font-size: 27px;
}
.feature-box-1 .icon i {
  line-height: 70px;
}
.feature-box-1 h5 {
  color: #20247b;
  font-weight: 600;
}
.feature-box-1 p {
  margin: 0;
}
.feature-box-1:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  border-radius: 10px;
  width: 0;
  background: #20247b;
  z-index: -1;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}
.feature-box-1:hover {
  top: -5px;
}
.feature-box-1:hover h5 {
  color: #ffffff;
}
.feature-box-1:hover p {
  color: rgba(255, 255, 255, 0.8);
}
.feature-box-1:hover:after {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  left: 0;
  right: auto;
}
.sec {
    padding: 30px 0;
    position: relative;
}
.section-title {
    padding-bottom: 45px;
}
.section-title h2 {
    font-weight: 700;
    color: #20247b;
    font-size: 45px;
    margin: 0 0 15px;
    border-left: 5px solid #fc5356;
    padding-left: 15px;
}



/* 5. Service.js */

.title {color: #fa9746;margin-bottom: 30px;position: relative;}
.title::before {
  position: absolute;
  left: -29px;
  top: 0;
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
  background-color: #7499f1;
  box-shadow: 0px 4px 4px 0px #aaa;
  border-radius: 4px;
  content: '';
}
.title::after {
  position: absolute;
  left: -19px;
  top: 25px;
  height: 14px;
  width: 14px;
  transform: rotate(45deg);
  background-color: #7499f1;
  box-shadow: 0px 4px 4px 0px #aaa;
  border-radius: 4px;
  content: '';
}
.services {
    padding:60px;
  position: relative;
}
.services .square {
  height: 100px;
  width: 100px;
  margin: 30px auto 40px;
  position: relative;
  border-radius: 15px;
  transform: rotate(45deg);
  padding: 10px;
  background-color:#7499f1;
  box-shadow: 0px 0px 27px 0px #ccc;
  border: 2px dotted #eaf3fa;
}
.square i {
  transform: rotate(315deg);
  display: block;
  color: #eaf3fa;
  font-size: 40px;
  padding-top: 17px;
  padding-right: 14px;
}
.services .square::before {
  position: absolute;
  left: -10px;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #fa9746;
  content: '';
}
.services .square::after {
  position: absolute;
  left: 50px;
  top: 66px;
  width: 1px;
  height: 88%;
  background-color:#fa9746;
  content: '';
  transform: rotate(90deg);
}
.services .serv .num
 {
   width: 60px;
   height: 60px;
   background-color: #7499f1;
   box-shadow: 0px 0px 15px 0px #00a9d3;
   margin: -38px auto 15px auto;
   border-radius: 50%;
   color: #fff;
   font-size: 30px;
    padding-top: 7px;
    border: 1px dashed;
  }
.services .serv h5 {color: #fa9746;}
.services .serv p {color: #777;}
.services .serv hr {
  width: 30px;
  border-top: 3px solid rgb(0 169 211);
}



/* 6. Our_Services.js */

section {
  padding-top: 4rem;
  padding-bottom: 5rem;
  background-color: #f1f4fa;
}
.wrap {
  display: flex;
  background: white;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
}
.wrap:hover {
  background: linear-gradient(135deg,#6394ff 0%,#0a193b 100%);
  color: white;
}
.ico-wrap {
  margin: auto;
}
.mbr-iconfont {
  font-size: 4.5rem !important;
  color: #313131;
  margin: 1rem;
  padding-right: 1rem;
}
.vcenter {
  margin: auto;
}
.mbr-section-title3 {
  text-align: left;
}
h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.display-5 {
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 1.4rem;
}
.mbr-bold {
  font-weight: 700;
}
p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 25px;
}
.display-6 {
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 1rem
}



/* 7. Team.js */

@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.team3 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}
.team3 h1,
.team3 h2,
.team3 h3,
.team3 h4,
.team3 h5,
.team3 h6 {
  color: #3e4555;
}
.team3 .font-weight-medium {
  font-weight: 500;
}
.team3 .bg-light {
  background-color: #f4f8fa !important;
}
.team3 .subtitle {
  color: #8d97ad;
  line-height: 24px;
  font-size: 13px;
}
.team3 ul {
  margin-top: 30px;
}
.team3 h5 {
  line-height: 22px;
  font-size: 18px;
}
.team3 ul li a {
  color: #8d97ad;
  padding-right: 15px;
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}
.team3 ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
	color: #316ce8;
}
.team3 .title {
  margin: 30px 0 0 0;
}
.team3 .subtitle {
  margin: 0 0 20px 0;
  font-size: 13px;
}



/* 8. Pricing.js */

:root {
  --color01: #ffffff;
  --color02: #502883;
  --color02Hover: #402068;
  --color03: #2a2a33;
  --color04: #00bcd4;
  --color04Hover: #0096a9;
  --color05: #ffd400;
  --color06: #f96e6e;
  --color06Hover: #f62929;
  --color07: #0097a7;
  --color08: #f4f4f4;
  --color09: #fbfbfb;
  --color10: #ffd400;
  --color11: #f96e6f;
  --color12: #362e42;
  --color13: #aaa;
}
.abc {
  background-color: #eee;
  min-height: 100vh;
  padding: 40px 10px;
  font-family: 'Questrial', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}
.xyz {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 300px));
  gap: 25px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 644px) {
  .container {
      gap: 40px;
  }
}
.price {
  width: 300px;
  min-height: 470px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transform: scale(1.04);
}
.price::before {
  background-color: var(--color05);
  color: var(--color02);
  padding: 20px 35px 10px;
  transform: translate(calc(31px + 35px), -35px) rotate(45deg);
  transform-origin: top left;
  content: 'NEW';
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.price:nth-of-type(2)::before {
  background-color: var(--color06);
  color: var(--color03);
}
.price:nth-of-type(3)::before {
  background-color: var(--color07);
  color: var(--color12);
}
.card__info {
  width: 100%;
  height: 130px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__info::before {
  background-color: var(--color02);
  width: 100%;
  height: 100%;
  opacity: 0.8;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
}
.card:nth-of-type(2) .card__info::before {
  background-color: var(--color03);
}
.card:nth-of-type(3) .card__info::before {
  background-color: var(--color04);
}
.card__name {
  color: var(--color01);
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 1px;
}
.card__price {
  color: var(--color05);
  font-size: 22px;
  font-weight: 400;
}
.card__priceSpan {
  color: var(--color13);
}
.card:nth-of-type(3) .card__priceSpan {
  color: var(--color01);
}
.card__content {
  background-color: var(--color09);
  width: 100%;
  height: calc(100% - 130px);
  border-top: solid 2px;
  border-bottom: solid 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__rows {
  width: 100%;
}
.card__row {
  color: var(--color13);
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.card__row:nth-of-type(odd) {
  background-color: var(--color08);
}
.card__link {
  color: var(--color01);
  padding: 10px 15px;
  margin: 20px 0;
  text-decoration: none;
  border-radius: 50px;
}
.card__link:hover {
  background-color: var(--color02Hover) !important;
}
.card:nth-of-type(2) .card__link:hover {
  background-color: var(--color06Hover) !important;
}
.card:nth-of-type(3) .card__link:hover {
  background-color: var(--color04Hover) !important;
}
  


/* 10. Contact.js */

.section {
  padding: 100px 0;
  position: relative;
}
.bg {
  background-color: #f5f5f5;
}
.contact-name {
margin-bottom: 30px;
}
.contact-name h5 {
font-size: 22px;
color: #20247b;
margin-bottom: 5px;
font-weight: 600;
}
.contact-name p {
font-size: 18px;
margin: 0;
}
.social-share a {
width: 40px;
height: 40px;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
text-align: center;
margin-right: 10px;
}
.social-share .dribbble {
box-shadow: 0 8px 30px -4px rgba(234, 76, 137, 0.5);
background-color: #ea4c89;
}
.social-share .behance {
box-shadow: 0 8px 30px -4px rgba(0, 103, 255, 0.5);
background-color: #0067ff;
}
.social-share .linkedin {
box-shadow: 0 8px 30px -4px rgba(1, 119, 172, 0.5);
background-color: #0177ac;
}

.contact-form .form-control {
border: none;
border-bottom: 1px solid #20247b;
background: transparent;
border-radius: 0;
padding-left: 0;
box-shadow: none !important;
}
.contact-form .form-control:focus {
border-bottom: 1px solid #fc5356;
}
.contact-form .form-control.invalid {
border-bottom: 1px solid #ff0000;
}
.contact-form .send {
margin-top: 20px;
}
@media (max-width: 767px) {
.contact-form .send {
  margin-bottom: 20px;
}
}
.section-title h2 {
  font-weight: 700;
  color: #20247b;
  font-size: 45px;
  margin: 0 0 15px;
  border-left: 5px solid #fc5356;
  padding-left: 15px;
}
.section-title {
  padding-bottom: 45px;
}
.contact-form .send {
  margin-top: 20px;
}
.px-btn {
  padding: 0 50px 0 20px;
  line-height: 60px;
  position: relative;
  display: inline-block;
  color: #20247b;
  background: none;
  border: none;
  text-decoration: none;
}
.px-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 30px;
  background: transparent;
  border: 1px solid rgba(252, 83, 86, 0.6);
  border-right: 1px solid transparent;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  width: 60px;
  height: 60px;
}
.px-btn .arrow {
  width: 13px;
  height: 2px;
  background: currentColor;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 25px;
}
.px-btn .arrow:after {
  width: 8px;
  height: 8px;
  border-right: 2px solid currentColor;
  border-top: 2px solid currentColor;
  content: "";
  position: absolute;
  top: -3px;
  right: 0;
  display: inline-block;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}